<div class="editor-row editor-mapping">
  <div ng-repeat="type in ctrl.annotationsManager.types">
    <div class="section gf-form-group">

      <div class="gf-form">
        <label class="gf-form-label">
          <a class="pointer" tabindex="1" ng-click="ctrl.toggleCollapse()">
            <span class="gf-form-query-letter-cell-letter">
              {{ type.refId }}
            </span>
          </a>
        </label>
        <label class="gf-form-label">
          Name:
        </label>
          <input
            type="text" class="gf-form-input width-16"
            ng-model="type.name"
            spellcheck="false"
          />
      </div>

    	<h5 class="section-heading">Mapping function</h5>
    	<textarea
    		class="gf-form-input codeEditor"
    		ng-model="type.mappingFunctionSource"
    		rows="10"
    	/>

      <h5 class="section-heading">Popup template</h5>
    	<textarea
    		class="gf-form-input codeEditor"
    		ng-model="type.popupTemplate"
    		rows="10"
    	/>
    </div>
  </div>
</div>
