.vis-holder .vis-time-axis .vis-text {
  color: #D8D9DA;
}

.vis-holder .vis-time-axis .vis-grid.vis-minor,
.vis-holder .vis-panel.vis-bottom,
.vis-holder .vis-panel.vis-center,
.vis-holder .vis-panel.vis-left,
.vis-holder .vis-panel.vis-right,
.vis-holder .vis-panel.vis-top
{
  border-color: #555;
}

.vis-holder .vis-item {
  background-color: #444;
  border-color: #999;
  color: #ddd;
}

.vis-holder .vis-item.vis-selected {
  border-color: #cdcdcd;
}

.vis-holder div.vis-tooltip {
  background-color: #444;
  border-color: #999;
  color: #ddd;
}