.timeline-holder {
  box-sizing: content-box;
}

.editor-mapping .gf-form-group-code {
  width: 100%;
}

.vis-holder {
  margin-left: 23px;
  margin-right: 27px;
}

.vis-holder .vis-timeline {
  border: none;
}

.vis-holder .vis-time-axis .vis-text {
  font-size: 12px;
}

.vis-holder .vis-item {
  border-radius: 0
}

.vis-holder div.vis-tooltip {
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
}

.vis-holder {
  cursor: crosshair;
}

.vis-holder .vis-custom-time {
  cursor: crosshair;
  pointer-events: none;
}