.timeline-holder {
  box-sizing: content-box;
}

.editor-mapping .gf-form-group {
  width: 100%;
}

.vis-holder {
  margin-left: 23px;
  margin-right: 18px;
}

.vis-holder .vis-timeline {
  border: none;
}

.vis-holder .vis-time-axis .vis-text {
  font-size: 12px;
}
